.array-container {
  margin: auto;
  width: 90%;
  border: 3px solid green;
  padding: 10px;
}
  
.array-bar {
  width: 30px;
  display: inline-block;
  margin: 0 1px;
}
.slider-class {
  margin: auto;
  width: 90%;
  border: 3px solid green;
  padding: 10px;

}
.slider-class1 {
  margin: auto;
  width: 90%;
  border: 3px solid green;
  padding: 10px;

}